{# templates/user/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "Bootcamp Assessment" }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="{{ body_class|default('') }}">
    <div class="page-wrapper {{ layout_class|default('') }}">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
